{% extends 'base.html' %}

{% block title %} {{ movie.title }} {% endblock %}

{% block content %}
    <h1 class='mb-4'>{{ movie.title }}</h1>
    <div class="card mb-4 w-25">
        <div class="card-header">
            <i class="fa fa-calendar"></i> {{ movie.year }}
        </div>
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" class="card-img-top" alt="">    
        {% endif %}       
        <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.tagline }}</p>
            <a href="/" class="btn btn-light btn-sm">&larr; back</a>
        </div> 
    </div>
{% endblock %}